{% extends 'base.html.twig' %}

{% block title %}{{ 'Warehouse' | trans }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'Admin panel' | trans }} ✅ <a href="{{ path('product_edit') }}">Add new</a></h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'Name' | trans }}</th>
                <th scope="col">{{ 'Price' | trans }}</th>
                <th scope="col">{{ 'Edit' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('product_edit', {id: product.id}) }}">
                            {{ 'Edit' | trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
